<ion-header>
        <ion-navbar>
            <ion-title>Product</ion-title>
        </ion-navbar>
    </ion-header>
    
    <ion-content>
        <ion-grid>
            <ion-row>
              <ion-col class="_section _menuWidth" style="padding:0px" (click)="openPage('')" col-4>
                <ion-card>
                  <div class="card-title">
                    <i class="fa fa-plus fa-fw rupeeSign"></i>
                  </div>
                  <div class="card-subtitle">Add</div>
                </ion-card>
              </ion-col>
              <ion-col class="_section _menuWidth" (click)="openPage('ProductListPage')" col-4>
                <ion-card>
                  <div class="card-title">
                    <i class="fa fa-edit fa-fw rupeeSign"></i>
                  </div>
                  <div class="card-subtitle">Update</div>
                </ion-card>
              </ion-col>
              <ion-col class="_section _menuWidth" style="padding:26px" (click)="openPage('')" col-4>
                <ion-card>
                  <div class="card-title">
                    <i class="fa fa-trash fa-fw rupeeSign"></i>
                  </div>
                  <div class="card-subtitle" style="top:70%">Remove</div>
                </ion-card>
              </ion-col>
            </ion-row>
            
          </ion-grid>
    </ion-content>