<ion-header>
    <ion-navbar>
      <ion-title>Consumer wise Search </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card *ngFor="let consumer of searchConsumerList">
      <ion-row>
        <ion-col class="_nameBlock" col-8>
          <label><b>{{consumer.consumer.name}}</b></label>
          <p>{{consumer.consumer.city}}, {{consumer.consumer.state}}</p>
        </ion-col>
        <ion-col class="_priceMargin" col-4>
          <div>
            <b>Sold Amount</b>
          </div>
          <p>
            <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{consumer.totalAmount}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  
    <ion-fab right bottom>
      <button ion-fab color="secondary" (click)="openModal()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-fab>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <div>
        <ion-item no-lines>
          <ion-row justify-content-between>
            <ion-col class="_quantitySelection" col-8>
              <b>Subtotal</b>
            </ion-col>
            <ion-col col-4>
              <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{totalPrice}}
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
    </ion-toolbar>
  </ion-footer>