.productList{
    padding: 50px;
    border: solid 1px rgba(0, 0, 0, 0.12);
}
.cardHeight{
    position: relative;
    text-align: center;
    height: 30%;
  }
._section{
  background-color: #a6bf41 !important;
  height:110px !important;
  margin-top:7px;
  margin-left:7px;
//   border: solid 1px #c5c1c1;
//   padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 80%;
    width: 100%;
    color: #fff;
  }

  .bgColor{
    background-color: #fff;
  }

  ion-slides{
    height:35%;
  }

  ._menuWidth{
    max-width: 30.4%;
  }
  .cardIcon{
    color: white
  }