<ion-header no-border>
  <ion-navbar>
    <button right menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HOME</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/s3.jpeg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/s2.jpeg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/s1.jpeg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/s3.jpeg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/s4.jpeg" />
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>

      <ion-col class="_section _menuWidth" style="padding:0px" (click)="openPage('DistributorPage')" col-4>
        <ion-card>
          <div class="card-title">
            <i class="fa fa-user fa-fw cardIcon"></i>
          </div>
          <div class="card-subtitle">DISTRIBUTOR</div>
        </ion-card>
      </ion-col>

      <ion-col class="_section _menuWidth" (click)="openPage('ConsumerPage')" col-4>
        <ion-card>
          <div class="card-title">
            <i class="fa fa-dumbbell fa-fw cardIcon"></i>
          </div>
          <div class="card-subtitle">CONSUMER</div>
        </ion-card>
      </ion-col>
 
      <!-- <ion-col class="_section _menuWidth" style="padding:26px" (click)="openPage('ProductPage')" col-4>
        <ion-card>
          <div class="card-title">
            <i class="fa fa-box fa-fw cardIcon"></i>
          </div>
          <div class="card-subtitle">PRODUCT</div>
        </ion-card>
      </ion-col> -->
      <ion-col class="_section _menuWidth" (click)="openPage('InventoryPage')" col-4>
          <ion-card>
            <!-- <img src="assets/imgs/bg1.jpg" /> -->
            <div class="card-title">
              <i class="fa fa-archive fa-fw cardIcon"></i>
            </div>
            <div class="card-subtitle">Inventory</div>
          </ion-card>
        </ion-col>
  
    </ion-row>

    <ion-row>
      <ion-col class="_section _menuWidth" (click)="openPage('SearchPage')" col-4>
        <ion-card>
          <!-- <img src="assets/imgs/bg1.jpg" /> -->
          <div class="card-title">
            <i class="fa fa-search fa-fw cardIcon"></i>
          </div>
          <div class="card-subtitle">SEARCH</div>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>