<ion-header>
  <ion-toolbar color="cusviewbreak">
    <ion-title>
      Filter
    </ion-title>
    <ion-buttons color="custom-green" start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="filterGroup">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>From*</ion-label>
            <ion-datetime formControlName="fromDate" displayFormat="MM/DD/YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>To*</ion-label>
            <ion-datetime formControlName="toDate" displayFormat="MM/DD/YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <p class="_loginError" style="color:red; margin-left:10px" >{{errorMsg}}</p>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>CITY</ion-label>
            <ion-select formControlName="city" (ionChange)="cityChange($event)">
              <ion-option *ngFor="let city of cities" value="{{city}}" >{{city}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>DISTRIBUTOR</ion-label>
            <ion-input formControlName="distributor" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>CONSUMER</ion-label>
            <ion-select formControlName="consumer">
              <ion-option *ngFor="let consumer of consumerList" value="{{consumer.id}}" >{{consumer.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>PRODUCT</ion-label>
            <ion-select formControlName="product" >
              <ion-option *ngFor="let product of productList"  value="{{product.id}}">{{product.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button type="submit" style="background-color:#a6bf41;" (click)="submit()" full>Filter</button>
  </ion-toolbar>
</ion-footer> 