<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inventory</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row *ngFor="let product of productList" style="border-bottom:solid 1px #eae5e5e6">
      <ion-col col-4>
        <label>{{product.productId.name}}</label>
      </ion-col>
      <ion-col  class="smallFont" col-2>
        In stock {{product.totalStock-product.soldStock}}
      </ion-col>
      <ion-col col-2>
        <ion-input type="number" placeholder="0" [(ngModel)]="inventory[product.productId.id]" style="background-color: #d3d3d359;"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button type="submit" style="background-color:#a6bf41; border-radius: 3px;" (click)="submit(product, 'SUB')" full>Sub</button>
      </ion-col>
      <ion-col col-2>
        <button ion-button type="submit" style="background-color:#a6bf41; border-radius: 3px;" (click)="submit(product, 'ADD')" full>Add</button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>