<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Product List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <h4 class="quote">Select Product</h4>
    <ion-card *ngFor="let product of productList" (click)="proceed(product)" class="_cursorPointer">
        <ion-row>
            <ion-col col-3>
                <img src="assets/imgs/{{product.id}}.jpg" class="imageWidth" />
            </ion-col>
            <ion-col class="_nameBlock" col-5>
                <label>{{product.name}}</label>
            </ion-col>
            <ion-col class="_nameBlock">
                <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.price}}
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>