<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="bgColor">
    <!-- <div>
      <ion-img width="80" height="80" src="assets/imgs/logo.jpg"></ion-img>
    </div> -->
    <div class="imgClass">
        <img src="assets/imgs/logo.png" class="logoClass"/>
    </div>
    <form class="formSection" [formGroup]="loginData" (ngSubmit)="login()" *ngIf="!showRoleSelection">
      <ion-item class="transparentInput">
        <ion-icon name='mail' class="customLoginIcon" item-start></ion-icon>
        <ion-label class="customLoginFont" floating>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="transparentInput">
        <ion-icon name='lock' class="customLoginIcon" item-start></ion-icon>
        <ion-label class="customLoginFont" floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <p class="_loginError" *ngIf="invalidLogin">Invalid Username/Password</p>
      <div class="loginText">
        <button margin-top ion-button type="submit" style="background-color: #06561e" [disabled]="!loginData.valid" full>login</button>
      </div>
    </form>
  
    <!-- <ion-row padding-top>
      <ion-col>
        <button ion-button clear block (click)="openPage('HomePage')" style="color:white">forgot password?</button>
      </ion-col>
    </ion-row> -->
  </ion-content>