<ion-header>
    <ion-navbar>
        <ion-title>Search</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col class="_section _menuWidth" style="padding:0px" (click)="openPage('SearchPageForDistributor')" col-4>
            <ion-card>
              <div class="card-title">
                <i class="fa fa-search fa-fw cardIcon"></i>
              </div>
              <div class="card-subtitle">DISTRIBUTOR</div>
            </ion-card>
          </ion-col>
          <ion-col class="_section _menuWidth" (click)="openPage('SearchPageForConsumer')" col-4>
            <ion-card>
              <div class="card-title">
                <i class="fa fa-search fa-fw cardIcon"></i>
              </div>
              <div class="card-subtitle">CONSUMER</div>
            </ion-card>
          </ion-col>
          <ion-col class="_section _menuWidth" style="padding:26px" (click)="openPage('SearchPageForProduct')" col-4>
            <ion-card>
              <div class="card-title">
                <i class="fa fa-search fa-fw cardIcon"></i>
              </div>
              <div class="card-subtitle">PRODUCT</div>
            </ion-card>
          </ion-col>
        </ion-row>
        
      </ion-grid>
</ion-content>