<ion-header style="background-color:rgba(0,0,0,0)" no-border>
    <ion-navbar>
        <ion-title>Product</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="productData" >
    <ion-list class="registerList">

      <ion-item >
        <i class="fa fa-grav fa-fw  " item-start></i>
        <ion-label  class="floatingLabel" floating>Name</ion-label>
        <ion-input type="text" formControlName="name" required></ion-input>
      </ion-item>

      <ion-item >
        <i class="fa fa-rupee-sign fa-fw  " item-start></i>
        <ion-label  class="floatingLabel" floating>price</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
      </ion-item>

      <ion-item >
        <button margin-top ion-button type="submit" style="background-color: #a6bf41" (click)="register(distributorData.value)"  full>Register</button>
      </ion-item>

    </ion-list>


  </form>
</ion-content>