
  // i{
  //     color: white; 
  // }

  // .floatingLabel{
  //   color: white !important;
  // }

  .registerList{
    margin-right: 10px !important;
    margin-top: 10px;
  }
  .customIconClass{
    font-size:25px;
    margin-top: 30px !important;
    color: darkslategray;
  }

  .errorValidator{
    margin:auto;
    color:red;
    padding-left: 51px;
  }