<ion-header>
    <ion-navbar>
        <ion-title>Search</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col class="_section _menuWidth" style="padding:0px" (click)="openPage('RegisterDistributorPage', '')" col-4>
            <ion-card>
              <div class="card-title">
                <i class="fa fa-plus-square fa-fw cardIcon"></i>
              </div>
              <div class="card-subtitle">Register</div>
            </ion-card>
          </ion-col>
          <ion-col class="_section _menuWidth" (click)="openPage('DistributerListPage', 'UPDATE_INVENTORY')" col-4>
            <ion-card>
              <div class="card-title">
                <i class="fa fa-edit fa-fw cardIcon"></i>
              </div>
              <div class="card-subtitle">Update Inventory</div>
            </ion-card>
          </ion-col>
          <ion-col class="_section _menuWidth" style="padding:26px" (click)="openPage('DistributerListPage', 'CHANGE_PASSWORD')" col-4>
            <ion-card>
              <div class="card-title">
                <i class="fa fa-male fa-fw cardIcon"></i>
              </div>
              <div class="card-subtitle" style="top:70%">View</div>
            </ion-card>
          </ion-col>
        </ion-row>
        
      </ion-grid>
</ion-content>