<ion-header>
    <ion-navbar>
        <ion-title>Inventory Transactions</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>

        <div *ngFor="let transaction of inventoryTransactions" style="border-bottom:solid 1px #eae5e5e6;">
            <ion-row>
                <ion-col col-7>
                    <b><label>{{transaction.distributor.name}}</label></b>
                </ion-col>
                <ion-col col-5>
                    <label>{{transaction.updatedTimestamp}}</label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-8>
                    <label>{{transaction.product.name}}</label>
                </ion-col>
                <ion-col *ngIf="transaction.is_add" class="actionLabel" col-4>
                    <label>ADDED:{{transaction.quantity}}</label>
                </ion-col>
                <ion-col *ngIf="transaction.is_subtract" class="actionLabel" col-4>
                    <label>SUBTRACTED:{{transaction.quantity}}</label>
                </ion-col>

            </ion-row>
        </div>

    </ion-grid>
</ion-content>