<ion-header>
    <ion-navbar>
        <ion-title>Search</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="distributorData">
        <ion-list class="registerList">

            <ion-item>
                <i class="fa fa-user fa-fw customIconClass " item-start></i>
                <ion-label class="floatingLabel" floating>name</ion-label>
                <ion-input type="text" formControlName="name" [readonly]="isReadOnly" required></ion-input>
            </ion-item>
            <p class="errorValidator" *ngIf="distributorData.controls['name'].required || (distributorData.controls['name'].hasError('pattern') && distributorData.controls['name'].dirty)">
                Please enter a valid Name
            </p>

            <ion-item>
                <i class="fa fa-envelope fa-fw customIconClass " item-start></i>
                <ion-label class="floatingLabel" floating>Email Address </ion-label>
                <ion-input type="text" formControlName="email" [readonly]="isReadOnly"></ion-input>
            </ion-item>
            <p class="errorValidator" *ngIf="distributorData.controls['email'].required || (distributorData.controls['email'].hasError('pattern') && distributorData.controls['email'].dirty)">
                Please enter a valid Email
            </p>

            <ion-item>
                <i class="fa fa-envelope fa-fw customIconClass " item-start></i>
                <ion-label class="floatingLabel" floating>Password </ion-label>
                <ion-input type="text" formControlName="password" [readonly]="isReadOnly"></ion-input>
            </ion-item>
            <p class="errorValidator" *ngIf="distributorData.controls['password'].required || (distributorData.controls['password'].hasError('minLength') && distributorData.controls['password'].dirty)">
                Password must be atleast 6 characters
            </p>

            <ion-item>
                <i class="fa fa-phone fa-fw customIconClass " item-start></i>
                <ion-label class="floatingLabel" floating>Mobile </ion-label>
                <ion-input type="tel" maxlength="10" formControlName="mobile" [readonly]="isReadOnly"></ion-input>
            </ion-item>
            <div class="errorValidator" *ngIf="distributorData.controls['mobile'].hasError('pattern') && !distributorData.controls['mobile'].hasError('required')">
                Please enter a valid mobile number
            </div>
            <div class="errorValidator" *ngIf="distributorData.controls['mobile'].hasError('required') && distributorData.controls['mobile'].touched">
                Mobile number is
                <strong>required</strong>
            </div>

            <ion-item>
                <i class="fa fa-building fa-fw customIconClass " item-start></i>
                <ion-label class="floatingLabel" floating>State</ion-label>
                <ion-input type="text" formControlName="state" [readonly]="isReadOnly"></ion-input>
            </ion-item>

            <ion-item>
                <i class="fa fa-building fa-fw customIconClass " item-start></i>
                <ion-label class="floatingLabel" floating>City</ion-label>
                <ion-input type="text" formControlName="city" [readonly]="isReadOnly"></ion-input>
            </ion-item>

            <ion-item>
                <i class="fa fa-map-marker fa-fw customIconClass " item-start></i>
                <ion-label class="floatingLabel" floating>Address</ion-label>
                <ion-textarea formControlName="address" [readonly]="isReadOnly"></ion-textarea>
            </ion-item>

            <ion-item *ngIf="!isReadOnly">
                <button margin-top ion-button type="submit" style="background-color: #a6bf41" (click)="update(distributorData.value)" [disabled]="!distributorData.valid"
                    full>Update</button>
            </ion-item>

        </ion-list>
        <ion-fab right bottom>
            <button ion-fab color="secondary" (click)="edit()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-fab>

    </form>
</ion-content>