._quantitySelection{
    border-radius: 18px;
    font-size: larger;
}

.rupeeSign{
    color: #696868 !important;
    margin-right: -3px;
}
.consumerError{
    margin:auto;
    color:red;
    padding-left: 15px;
  }
