<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div>
    <!-- <div>
      <ion-row>
        <ion-col>
          <ion-searchbar (ionInput)="getItems($event)" placeholder="Search" ionClear="false"></ion-searchbar>
        </ion-col>
      </ion-row>
    </div> -->

    <ion-card *ngFor="let product of searchProductList">
      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/{{product.product.id}}.jpg" class="imageWidth" />
        </ion-col>
        <ion-col class="_nameBlock" col-5>
          <label>{{product.product.name}}</label>
          <p>Quantity: {{product.quantity}}</p>
          <p>Base:  <i class="fa fa-rupee-sign fa-fw rupeeSign"></i> {{product.product.price}}</p>
        </ion-col>
        <ion-col class="_priceMargin">
          <div>
            <b>Total Amount</b>
          </div>
          <p>
            <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.totalAmount}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="openModal()">
      <ion-icon name="funnel"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div>
      <ion-item no-lines>
        <ion-row justify-content-between>
          <ion-col class="_quantitySelection" col-8><b>Subtotal</b></ion-col>
          <ion-col col-4>
            <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{totalPrice}}
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-footer>