<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Consumer</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="consumerForm">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>CITY</ion-label>
                        <ion-select formControlName="city">
                            <ion-option *ngFor="let city of cities" value="{{city}}">{{city}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <button ion-button type="submit" style="background-color:#a6bf41;" (click)="submit()" full>Search</button>
        </ion-grid>
    </form>

    <ion-list>
        <ion-item *ngFor="let consumer of consumers" (click)="viewDetail(consumer)" style="cursor: pointer;">
            <ion-label>{{consumer.name}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>