<ion-header>
    <ion-navbar>
        <ion-title>Inventory</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col class="_section _menuWidth" style="padding:0px" (click)="openPage('DistributerListPage', 'UPDATE_INVENTORY')" col-4>
            <ion-card>
              <div class="card-title">
                <i class="fa fa-plus fa-fw rupeeSign"></i>
              </div>
              <div class="card-subtitle">Update</div>
            </ion-card>
          </ion-col>
          
          <ion-col class="_section _menuWidth" style="padding:0px" (click)="openPage('InventoryTransactionPage', '')" col-4>
            <ion-card>
              <div class="card-title">
                <i class="fa fa-plus fa-fw rupeeSign"></i>
              </div>
              <div class="card-subtitle">Transactions</div>
            </ion-card>
          </ion-col>
         
        </ion-row>
        
      </ion-grid>
</ion-content>