<ion-header>
    <ion-navbar>
        <ion-title>Inventory Transactions</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>

        <div *ngFor="let detail of distributorDetails" style="border-bottom:solid 1px #eae5e5e6; font-size: 15px;">
            <ion-row>
                <ion-col col-7>
                    <b>
                        <label>{{detail.name}}</label>
                    </b>
                </ion-col>
                <ion-col>
                    <label>#{{detail.quantity}}</label>
                </ion-col>
                <ion-col>
                    <label>
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{detail.soldAmount}}</label>
                </ion-col>
            </ion-row>
        </div>

        <ion-item>
            <ion-row>
                <ion-col col-9 style="color: green; font-size: 20px;padding: 0px;">
                    <b>
                        <label>Subtotal</label>
                    </b>
                </ion-col>
                <ion-col>
                    <label>
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{subtotal}}</label>
                </ion-col>
            </ion-row>
        </ion-item>

    </ion-grid>
</ion-content>