<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Distributor List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <h4 class="quote">Select Distributor</h4>
    <div>
        <ion-list radio-group [(ngModel)]="distributor">
            <ion-item *ngFor="let distributor of distributorList">
                <!-- <ion-row>
                        <ion-col col-9>
                            <b>{{consumer.name}}</b>
                        </ion-col>
                    </ion-row> -->
                <ion-label>{{distributor.name}}</ion-label>
                <ion-radio value="{{distributor.id}}"></ion-radio>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div>
            <!-- <ion-item no-lines> -->
            <button ion-button type="submit" style="background-color:#a6bf41;" (click)="proceed()" full>Proceed</button>
            <!-- </ion-item> -->
        </div>
    </ion-toolbar>
</ion-footer>